@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 101 34% 47%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 0 0% 70%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 10% 90%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 70.2% 90%;
        --destructive-foreground: 0 100% 30%;

        --border: 0 0% 84%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        /* Done */
        --background: 0 0% 8%;
        --foreground: 0 0% 81%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        /* Done */
        --primary: 101 34% 47%;
        --primary-foreground: 0 0% 0%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 40%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 70% 15.6%;
        --destructive-foreground: 0 60% 60%;

        --border: 0 0% 16%;
        --input: 0 0% 16%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.markdown>* {
    all: revert !important;
}

* {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    /* transition:all 0.05s */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* div {
    font-family: "DM Sans", sans-serif;
} */

/* .view-line,
.view-lines,
.line-numbers,
pre {
    font-family: "DM Mono" !important;
    font-size: unset !important;
} */

.xterm-rows>div {
    font-family: "DM Mono", monospace !important;
}


/* #monacodiv div,
#monacoDiffEditor div {
    font-family: "DM Mono" !important;
     font-size: unset !important;
} */

button {
    transition: all 0.1s;
}

button:hover {
    scale: 1.005;
}

button:active {
    opacity: 0.6;
    scale: 0.98;
}