@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    color: rgb(255 255 255 / 0.8);
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    background-color: #0A1917;
}

/* In your CSS file or style tag */
.custom-width {
    width: 120px;
    transition: width 0.3s ease-in-out;
}

.custom-width--recent{
    width: 140px;
    transition: width 0.3s ease-in-out;
}

select {
    color: #B4FFA1;
    padding: 5px;
    background-color: transparent;
    border-width: 1px;
    border-color: rgba(269, 269, 269, 0.5);
}

select:focus {
    outline: none;
}

option {
    color: black;
    background-color: whitesmoke;
}

.background--recent{
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center; 
}
