@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    color: rgb(255 255 255 / 0.8);
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}
                    
/* In your CSS file or style tag */
.custom-width {
    width: 120px;
    transition: width 0.3s ease-in-out;
}
  

  